.contactBlock {
    min-height: 100vh;
    background-color: #121415;
}
.contactContainer {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;

}

.title {
    background-color: #199a88;
}
.form{
    width: inherit;
}
.formItem {
    display: flex;
    flex-direction: column;
    justify-content: start;
    border: 1px solid;
    flex-wrap: wrap;
    margin-bottom: 40px;
    width: 80vmin;
}

.textarea{
    display: inline-block;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    background-color: #FFCCFF;
    border: 1px solid #CC0099;
    border-radius: 5px;
}
.button {
    width: 80px;
    height: 30px;
    text-align: center;
    background: #FFCCFF;
    border: 1px solid #CC0099;
    border-radius: 5px;
}
.button:hover {
    background: #FF9900;
}
