.resumeBlock {
    min-height: 100vh;
    background-color: #121415;
}

.resumeContainer {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: #d4a2a8;
}

.skills {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
@media screen and (max-width: 630px) {
    .skills {
        justify-content: center;
    }
}
