.workBlock {
    /*min-height: 25vh;*/
    background-color:#FF66CC;
}
.workContainer {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: #199a88;
}
