.footer {
   /* height: 30vh;*/
    background-color: #990099;
}

.footerContainer {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

.text {

}
.element {
    display: flex;
    justify-content: space-between;

}